<div class="col">
  <div class="card comment m-2">
    <div class="card-header" style="background-color: #1c97cf">
      Post by {{user.name}} on {{format_date date_created}}
    </div>
  <div class="card-body">
    {{content}}
  </div>
  </div>
</div>