      <div class="container-fluid">
        <div class="col">
          <div class="card">
            <div class="card-header" style="background-color: #1c97cf">
              <span class="fs-3"><strong>${teamMember.name}</strong></span>
              <span class="text-end fs-6">Posted by ${user} on ${date}</span>
            </div>
            <div class="card-body">${content}</div>
          </div>
        </div>
      </div>