<div class="row justify-content-center">
  <div class="col-4">
    <form class="login-form">
      <h1 class="h3 mb-3 fw-normal text-center">Login</h1>

      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="email-login"
          placeholder="name@example.com"
          autocomplete="chrome-off"
        />
        <label for="email-login">Email address</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="password-login"
          placeholder="Password"
        />
        <label for="password-login">Password</label>
      </div>

      
      <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">
        Login
      </button>
      <p class="mt-5 mb-3 text-center">
        New Here? <a href="/signup">Sign Up</a>
      </p>
    </form>
  </div>
</div>
<script src="/js/login.js"></script>